﻿@model Genealogist.Models.dunk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dunk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cake.cakeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cake.cakeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dunkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
