﻿@model IEnumerable<Genealogist.Models.dunk>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cake.cakeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cake.cakeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dunkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.dunkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dunkID })
        </td>
    </tr>
}

</table>
