﻿@model IEnumerable<Genealogist.Models.syringe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Print.printID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Print.printID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.syringeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.syringeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.syringeID })
        </td>
    </tr>
}

</table>
