﻿@model Genealogist.Models.cake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="col-xs-12 col-sm-6">
        <h4>cake @Model.cakeID</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Jar.jarID)
            </dt>

            <dd>
                <a href="/jars/details/@Model.JarID">@Model.JarID</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt>
                Status
            </dt>
            <dd>
                @if (Model.Retired)
                {
                   <p>retired</p>
                }
                else
                {
                    <p>active</p>
                }
            </dd>
            <dt>
                dunk history
            </dt>
            <dd>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                    </tr>
                    @foreach (Genealogist.Models.dunk dunk in ViewBag.dunkHistory)
                    {
                        <tr>
                            <td><a href="/dunks/details/@dunk.dunkID">@dunk.dunkID</a></td>
                            <td>@dunk.DateStarted</td>
                            <td>@dunk.DateEnded</td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("../Shared/_FamilyTree", new ViewDataDictionary { { "id", Model.cakeID }, { "type", Model.GetType() } })
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
