﻿@model Genealogist.Models.jar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="col-xs-12 col-sm-6">
        <h4>jar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Recipe.ShortName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recipe.ShortName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Syringe.syringeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Syringe.syringeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JarNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JarNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SterilizationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SterilizationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InnoculationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InnoculationDate)
            </dd>

        </dl>
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("../Shared/_FamilyTree", new ViewDataDictionary{ {"id", Model.jarID}, {"type", Model.GetType()}})
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.jarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
