﻿@model IEnumerable<Genealogist.Models.jar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Syringe.syringeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SterilizationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InnoculationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Syringe.syringeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JarNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SterilizationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InnoculationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.jarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jarID })
        </td>
    </tr>
}

</table>
