﻿@model Genealogist.Models.flush

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="col-xs-12 col-sm-6">
        <h4>flush</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cake.cakeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cake.cakeID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HarvestDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HarvestDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DessicationEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DessicationEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DryWeight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DryWeight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DessicationChamber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DessicationChamber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comments)
            </dd>

        </dl>
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("../Shared/_FamilyTree", new ViewDataDictionary { { "id", Model.flushID }, { "type", Model.GetType() } })
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flushID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
