﻿@model IEnumerable<Genealogist.Models.flush>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cake.cakeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarvestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessicationEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DryWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessicationChamber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cake.cakeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HarvestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DessicationEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DryWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DessicationChamber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.flushID }) |
            @Html.ActionLink("Details", "Details", new { id=item.flushID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.flushID })
        </td>
    </tr>
}

</table>
