﻿
<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <br /><br /><br />
            <ul>
                <table>
                    active prints:
                    @foreach (Genealogist.Models.print AP in ViewBag.ActivePrints)
                    {
                        <tr>
                            <td>
                                <a href="/prints/Details/@AP.printID">Print #@AP.printID</a>
                            </td>
                        </tr>
                    }
                </table>
            </ul>
            <ul>
                <table>
                    active syringes:
                    @foreach (Genealogist.Models.syringe AS in ViewBag.ActiveSyringes)
                    {
                        <tr>
                            <td>
                                <a href="/syringes/Details/@AS.syringeID">Syringe #@AS.syringeID</a>
                            </td>
                        </tr>
                    }
                </table>
            </ul>
            <ul>
                <table>
                    active jars
                    @foreach (Genealogist.Models.jar AJ in ViewBag.ActiveJars)
                    {
                        <tr>
                            <td>
                                <a href="/jars/Details/@AJ.jarID">Jar ID#@AJ.jarID</a>
                            </td>
                        </tr>
                    }
                </table>
            </ul>
            <ul>
                <table>Ongoing Dunks
                @foreach (Genealogist.Models.dunk ADC in ViewBag.ActiveDunks)
                {
                    <tr>
                        <td>
                            <a href="/dunks/Details/@ADC.dunkID">Dunk #@ADC.dunkID</a>
                        </td>
                    </tr>
                }
                </table>
            </ul>
            <ul>
                <table>fruiting cakes
                @foreach (Genealogist.Models.cake FC in ViewBag.FruitingCakes)
                {
                    <tr>
                        <td>
                            <a href="/cakes/Details/@FC.cakeID">Cake #@FC.cakeID</a>
                        </td>
                    </tr>
                }    
                </table>
            </ul>
            <ul>
                <table>drying flushes
                @foreach (Genealogist.Models.flush DF in ViewBag.DryingFlushes)
                {
                    <tr>
                        <td>
                            <a href="/flushes/@DF.flushID">Flush #@DF.flushID</a>
                        </td>
                    </tr>
                }
                </table>
            </ul>
        </div>
    </section>
</div>