﻿@model Genealogist.Models.print

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="col-xs-12 col-sm-6">
        <h4>print</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Flush.comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flush.comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PCT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PCT)
            </dd>

        </dl>
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("../Shared/_FamilyTree", new ViewDataDictionary { { "id", Model.printID }, { "type", Model.GetType() } })
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.printID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
