﻿@model IEnumerable<Genealogist.Models.print>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flush.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PCT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flush.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PCT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.printID }) |
            @Html.ActionLink("Details", "Details", new { id=item.printID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.printID })
        </td>
    </tr>
}

</table>
