﻿@using Genealogist.Models;
@model FamilyTree
Family tree JSON:<br/>
@Model.ToString()
<br />
<br />
@{
    string focusType = "null";
    int focusID = -1;
    if (Model.focusNode.data is jar)
    {
        focusType = "jar";
        focusID = (Model.focusNode.data as jar).jarID;
    }
    else if (Model.focusNode.data is syringe)
    {
        focusType = "syringe";
        focusID = (Model.focusNode.data as syringe).syringeID;
    }
    else if (Model.focusNode.data is cake)
    {
        focusType = "cake";
        focusID = (Model.focusNode.data as cake).cakeID;
    }
    else if (Model.focusNode.data is print)
    {
        focusType = "print";
        focusID = (Model.focusNode.data as print).printID;
    }
    else if (Model.focusNode.data is flush)
    {
        focusType = "flush";
        focusID = (Model.focusNode.data as flush).flushID;
    }
    @Html.Raw("focusing on " + focusType + " number " + focusID);
}